<%= official_form_for(@official) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.size_select %>

  <p>Vad skulle du kunna tänka dig att hjälpa till med?</p>

  <%= f.role_check_boxes %>

  <%= f.submit %>
<% end %>
