<%= official_form_for(@official) do |f| %>
  <% if @official.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@official.errors.count, "error") %> prohibited this official from being saved:</h3>

      <ul>
      <% @official.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% Official::PROPERTIES_KEYS.each do |key| %>
    <%= f.text_field key %>
  <% end %>

  <%= f.label(:size, class: 'input-label') %>
  <%= select(:official, :size, Official::SIZES) %>

  <p>Vad skulle du kunna tänka dig att hjälpa till med?</p>

  <%= f.role_check_boxes %>

  <%= f.submit %>
<% end %>
