<section>
  <h1>Välkommen!</h1>

  <hr>

  <p>Teknikfokus är en arbetsmarknadsmässa som arrangeras av Datateknik- och E-sektionen vid LTH. Mässans målgrupp är studenter som läser Datateknik, InfoCom, Medicinteknik eller Elektroteknik. Teknikfokus är ett fantastiskt tillfälle för studenter och företag inom ovan nämnda områden att träffas och få bra kontakt med varandra</p>
</section>

<section class="companies">
  <h1>Företag</h1>

  <hr>

  <% companies.shuffle.each do |company| %>
    <%= link_to company.url do %>
      <%= image_tag company.logo %>
    <% end %>
  <% end %>
</section>

<section>
  <h1>Vem, var, hur?</h1>

  <hr>

  <p>Den 12 Februari 2014 slår Teknikfokus upp dörrarna för en ny spännande mässa.</p>

  <p>På mässan får studenter tillfälle att möta företagsrepresentanter i företagets montrar men även lyssna på inspirationsföreläsningar. Kvällen kommer sedan avslutas med ett mingel för de studenter som varit delaktiga i Teknikfokus, företagsrepresentanter, samt de studenter som fått en biljett tilldelad av ett företag. Minglet är en ypperlig chans att knyta ännu starkare kontakter mellan företag och studenter. Så ta chansen och nätverka med varandra!</p>

  <iframe width='100%' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/alexanderekdahl.map-5bi2mumc.html#13/55.70651425455931/13.19706916809082'></iframe>
</section>

<!-- <section>
  <h1>Teknikfokus Startup</h1>

  <hr>

  <p>Den 10:e februari slår vi upp dörrarna för Teknikfokus Startup, E-husets egna startup-mässa. Här kommer några av Sveriges senaste startup-företag att visa sig och spännande individer hålla lunch-föreläsningar.</p>
</section> -->

<section>
  <h1>Jobba som funktionär</h1>

  <hr>

  <p>För att göra Teknikfokus till en bra mässa behöver vi just din hjälp. Det finns flera olika typer av funktionärer som behövs. Alla funktionärer får gå på minglet tillsammans med företagen.</p>

  <%= link_to("Gå till anmälan", new_official_path, class: 'button') %>
</section>

<section>
  <h1>Kontakta oss</h1>

  <hr>

  <p>Har du frågor eller vill ha mer information tveka inte att skicka ett mail till oss på <%= mail_to("info@teknikfokus.se") %></p>

  <p>Eller direkt till någon av projektledarna:</p>

  <table class="contact">
    <tr>
      <th>Erik Alstersjö</th>
      <th>Hanna Runer</th>
    </tr>
    <tr>
      <td>0761-964601</td>
      <td>0709-783945</td>
    </tr>
    <tr>
      <td><%= mail_to("erik@teknikfokus.se") %></td>
      <td><%= mail_to("hanna@teknikfokus.se") %></td>
    </tr>
  </table>
</section>
