<!DOCTYPE html>
<html>
  <head>
    <title>Teknikfokus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= link_to(image_tag("logo.svg"), root_path) %>

      <h2>12 Oktober 2014</h2>

      <%= yield :header %>
    </header>

    <%= yield %>
  </body>
</html>
